@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #1897Bf;
}

.container {
    width: 700px;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #555555;
}

.box {
    border-radius: 5px;
    border: 2px solid #7F8487;
}

.controls,
.controls li,
.icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 12px 15px;
    background: #87CEFA;
}

.controls .icons i {
    width: 40px;
    font-size: 16px;
    cursor: pointer;
}

.controls #fromLang {
    border-radius: 3px;
    cursor: pointer;

}

.controls #toLang {
    border-radius: 3px;
    cursor: pointer;

}

.controls .exchange i {
    cursor: pointer;

}

.text-controls {
    display: flex;
    border-top: 1px solid #7F8487;
}

.text-controls textarea {
    height: 250px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    background: none;
    padding: 10px 15px;
    resize: none;
}

#to-text {
    border-left: 1px solid #7F8487;
    border-radius: 0;
}

button {
    background: #0000CD;
    color: #fff;
    padding: 10px 20px;
    width: 100%;
    margin-top: 5px;
    font-size: 16px;
    transition-duration: .4s;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #fff;
    color: #0000CD;
    border: 2px solid #0000CD;
    border-radius: 5px;


}